theme = "Greybird-dark"

Set Term="urxvtc -cd /locale/paolo"

function("SfwbarInit") {
  SetLayer "overlay"
  SetBarsize "50%"
  SetMonitor "DP-2"
}

# Panel layout

layout {
  button {
    action = "gnome-terminal"      # launch this on click
    value = "icons/kcmkwm.png"     # set icon on the button 
  }

  label { style="spacer" }

  button {
    action = Exec $Term
    value = "icons/monitor.png"
  }
  button {
    action = Exec "betterbird"
    value = "icons/email.png"
  }
  button {
    action = Exec "brave-browser"
    value = "icons/brave.png"
  }
  button {
    action = Exec "google-chrome"
    value = "icons/google-chrome.png"
  }
  button {
    action = Exec "firefox"
    value = "icons/firefox.png"
  }
  button {
    action = Exec "nautilus --no-desktop"
    value = "icons/home.png"
  }

  label { style="spacer" }

  button { 
    action = Exec "libreoffice --impress"
    value = "icons/ooimpress.png"
  }
  button { 
    action = Exec "libreoffice --writer"
    value = "icons/oowriter.png"
  }
  button { 
    action = Exec "libreoffice --calc"
    value = "icons/oocalc.png"
  }
  button { 
    action = Exec "x48 -connFont fixed"
    value = "icons/calculator.png"
  }
  button { 
    action = Exec "zoom"
    value = "icons/zoom.png"
  }

  label { style="spacer" }

  button { 
    action = Exec "/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=cifhbcnohmdccbgoicgdjpfamggdegmo"
    value = "icons/teams.png"
  }

  label { style="spacer" }

  button { 
    action = Exec "keepassxc"
    value = "icons/lock.png"
  }

  label { style="spacer" }

  button { 
    action = Exec "x2goclient"
    value = "icons/x2go.png"
  }

  label { style="spacer" }

  button { 
    action = Exec "droidcam"
    value = "icons/droidcam.png"
  }

  label { style="spacer" }

  button { 
    action = Exec "swaylock -f -c 000000"
    value = "icons/sleep.png"
  }
#  label {
#    css = "* { -GtkWidget-vexpand: true; }"
#  }
}

#CSS
window {
  -GtkWidget-direction: right;
  background-color: rgba(0,0,0,0.0);
}

#hidden {
  -GtkWidget-visible: false;
}

label#spacer {
  min-height: 30px;
}

button#taskbar_normal *, button#taskbar_active *, button#taskbar_normal:hover * {
  min-height: 28px;
  -GtkWidget-hexpand: true;
  padding: 0;
  background-image: none;
  border-radius: 0;
  border-image: none;
}

grid {
  -GtkWidget-direction: bottom;
  -GtkWidget-vexpand: false;
}
